<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Formulario</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
      
        
        <form class="login">
          <h2>Login</h2>
          <div class="box-user">
              <input type="text" name="" required>
              <label>Usuário</label>
          </div>
          <div class="box-user">
              <input type="password" name="" required>
              <label>Senha</label>
          </div>
          <div>
              <a href="#" class="forget"> Esqueceu a senha?</a>
          </div>
          <a href="#" class="btn">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Entrar
          </a>
      </form>

        
      </div>
    </div>
  </div>
